<body class="background-image">


  <div class="rounded-lg login bg-box">
    <form action="/login" method="POST" class="form-group">
      <div>
        <div>
          <label for="username">Username:</label>
          <input type="text" value="ryan" name="username" class="form-control">
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" value="test" name="password" class="form-control">
        </div>
      </div>
      {{#if message}}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <div>
        <input type="submit" value="Log In" class="btn-lg btn-light btn-space left-center">
      </div>
    </form>
  </div>

</body>