<body class="about-page">
  <div>
    <h1>About Reinvest</h1>
    <hr>

    <p>
      With so many other Real Estate Investment calculators on the internet, it's easy to find the investment return
      data you need. But that's where the easy part ends.
      <br>

    </p>

    <p>
      For most investors, most of the battle is finding capital to fund the deal. But this becomes much easier when you
      can present professional looking reports in meetings with prospective investors.
    </p>

    <br>

    <p>
      Reinvest makes this easy. After entering the information about your prospective property it will generate a report
      based on your data. Then you can simply print or send it, and get busy raising money.
    </p>

    <form method="get" action="/login"><button type="submit" class="btn-lg">Get Started</button></form>

  </div>
</body>