<div class="w-25 container">

  <h1>Reinvest</h1>

  <div>
    <p>Welcome Home</p>
    <div class="row">
      <a href="/login" class="btn-lg btn-primary btn-light link-margin">Login</a> <br>
      <a href="/signup" class="btn-lg btn-primary btn-light link-margin">Sign Up</a>
    </div>
  </div>

</div>