<body class="background-image">




  {{!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 login">
            <h1 class="text-center">Reinvest</h1>
            <div class="">
              <p class="text-center">Welcome Home</p>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <a href="/login" class="btn-lg btn-primary btn-dark button-center">Login</a>
              <a href="/signup" class="btn-lg btn-primary btn-dark button-center">Sign Up</a>
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div> --}}

  <div class="login bg-box">
    <div>
      <h1>Reinvest</h1>
      <div>
        <a href="/login" class="btn-lg btn-primary btn-light button-center">Login</a>
        <a href="/signup" class="btn-lg btn-primary btn-light button-center btn-space">Sign Up</a>
      </div>
    </div>
  </div>

  {{!-- 
  <div>


  </div> --}}


</body>