

*{
  font-family:Roboto;
}

.font-report {
font-size: 15px;
}

.thin {
  font-weight: 300;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.link-margin{
  margin:10px;
  padding: 10px;
}

.nav-correction {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
}

.background-image {
  background-image: url("../images/house.jpg");
  background-size: cover;
  background-color: #cccccc;
  margin-top: 5px;
}







// My Reports

.canvaschart {
  width: 400px;
  height:400px;
}

.cardimg-size {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cardtxt-size {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-color: white;
}

.cardbg{
  background-color:#00B3B3;
}

.width {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.table-border {
  margin-right: 2vw;
}

.table-fix{
  margin-left: .7vw;
  font-size: 1.3em;
}

// .center{
//   margin-left: auto;
//   margin-right: auto;
// }
.button-center{
  display: flex;
  align-items: center;
  justify-content: center;
}