

*{
  font-family: sans-serif;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

// form {
//   color: white; 
// }
 
// p {
//   color: white;
// }




//Flex and movement

// .align-center{
// display: flex;
// // align-content: center;
// // justify-items: center;
// align-self: center;
// }

.link-margin{
  margin:20px;
}

.nav-correction {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
}

.background-image {
  background-image: url("../images/house.jpg");
  background-size: cover;
  background-color: #cccccc;
  margin-top: 5px;
}







// My Reports

.canvaschart {
  width: 400px;
  height:400px;
}

.cardimg-size {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cardtxt-size {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-color: white;
}

.width {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

// .cardbg {
// background-color: aqua;
// }