@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
  font-family:'Ubuntu';
}

.font-report {
font-size: 15px;
}

.thin {
  font-weight: 300;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.link-margin{
  margin:10px;
  padding: 10px;
}

.nav-correction {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
}

.background-image {
  background-image: url("../images/house.jpg");
  background-size: cover;
  background-color: #cccccc;
  margin-top: 5px;
}







// My Reports

.bg-box{
 margin-top: 20vh;
  color: white;

}

.btn-space{
  margin-top: 10px;
}

.left-center{
  margin-left: 25%;
}

.left-center-small{
  margin-left: 15%;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border {
  border-width: 2px;
  border-style: solid;
  padding: 5px;
}

.smallpadding {
  margin:10px;
}

.canvaschart {
  width: 400px;
  height:400px;
}

.cardimg-size {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cardtxt-size {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-color: white;
}

.cardbg{
  background-color:#00B3B3;
}

.white-text{
  color: white;
}

.form-shadow{
  box-shadow: 2px 2px 7px 1px #54626F;
}

.width {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.table-border {
  margin-right: 2vw;
}

.table-fix{
  margin-left: .7vw;
  font-size: 1.3em;
}

.button-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

//New Report

.form-border {
  border-width: 2px;
}

//Desktop
@media only screen and (min-width: 700px) {
  .form-div{
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}

//Mobile
@media only screen and (max-width: 600px) {
  form-responsive {
    width:100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  }
}



.form-page{
  h3,h1{
    text-align: center;
  }

  h1{
  padding-bottom: 20px;
  }

  hr{
    border: 2px solid #0080ff;
    border-radius: 25px;
  }

  button{
    background-color: #0080ff;
    color: white;
  }

}

//About Page
.about-page{
  h1{
    text-align: center;
  }

  h1{
  padding-bottom: 20px;
  }

  hr{
    border: 2px solid #0080ff;
    border-radius: 25px;
  }

  p{
    text-align: center;
    font-size: 1.3em;
  }

  button{
    background-color: #0080ff;
    color: white;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
  }

}
